body{
 width: auto;
 min-width: 1182px;
 padding: 0;
 margin: 0; 
 font-family: 'Montserrat', sans-serif;
 background-color: white;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

#indexHeader{
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.homeHeader{
  background: url(/images/indexbanner.jpg);
}

.rosterHeader{
  background: url(/images/teambanner.jpg);
}

.planPageHeader{
  background: url(/images/planpagebanner.jpg);
}

.softwareHeader{
  background: url(/images/softwarebanner.jpg);
}

.uiHeader{
  background: url(/images/uibanner.jpg);
}

#logo{
  min-width:200px;
  height: 100px;
  margin: 0 0 0 100px;
  color: #f7f7f7;
  display: inline;
  float: left;
}

#logoCenter{
  clear: both;
  float: right;
  padding: 20px 300px 0 0;
}

#spacer{
  width: 100%;
  height: 50px;
}

#nav{
  display: inline;
  height: 100px;
  float: right;
  padding: 0px;
  margin: 0 100px 0 0;
}

ul {
    padding-top: 10px;
    list-style-type: none;
    overflow: hidden;
    float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: #cccccc;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.active {
  color: white;
  text-decoration: underline;
}

#content{
  max-width:1100px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  clear: both;
}

.uml{
   width: 100%;
   max-width: 100%;
}

#content p{
  text-align: justify;
}

#teamList a{
  color: black;
}

#teamList{
  padding-bottom: 25px;
}


#footer{
  width: 100%;
  background-color: black;
  color: #f7f7f7;
  height: 100px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
}
