body {
    background: url(http://www.shunvmall.com/data/out/244/46913747-wallpaper-orange.png) no-repeat;
}

head {
    background: url(http://www.shunvmall.com/data/out/244/46913747-wallpaper-orange.png) no-repeat;
}

#Login{
    position: absolute;
    text-align:left;
    vertical-align: middle;
    background: #567d87;
    border: 3px solid #245b87;
    width: 350px;
    height: 500px;
    top: 30%;
    left: 40%;
    margin: auto;

}

#divider{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#back{
    outline: 0;
    padding: 0;
    border: none;
    height: 100px;
    width: 100px;
    background: url(../img/arrow_blue.png) no-repeat;
    background-size: contain;
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 5%;
}

#back:hover {
    background: url(../img/arrow_skyblue.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/*-----------------------------------------------------------------MAIN PAGE BUTTONS-------------------------------------------------------------------------*/
#Discover_button {
    outline:0;
    padding: 0;
    border: none;
    height: 580px;
    width: 570px;
    background: url(../img/Discover_button.png) no-repeat;
    background-size: 100%;
    position:absolute;
	transition: .5s ease;
	top: 31%;
	left: 3%;
}

#Discover_button:hover {
    background: url(../img/Discover_button2.png) no-repeat;
    background-size: 100%;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


#Planner_button {
    outline:0;
    padding: 0;
    border: none;
    height: 580px;
    width: 570px;
    background: url(../img/Planner_button.png) no-repeat;
    background-size: 100%;
    position:absolute;
    transition: .5s ease;
    top: 31%;
    left: 35%;
}

#Planner_button:hover {
    background: url(../img/Planner_button2.png) no-repeat;
    background-size: 100%;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Trending_button {
    outline:0;
    padding: 0;
    border: none;
    height: 275px;
    width: 570px;
    background: url(../img/Trending_button.png) no-repeat;
    background-size: 100%;
    position:absolute;
    transition: .5s ease;
    top: 31%;
    left: 67%;
}

#Trending_button:hover {
    background: url(../img/Trending_button2.png) no-repeat;
    background-size: 100%;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Profile_button {
    outline:0;
    padding: 0;
    border: none;
    height: 280px;
    width: 270px;
    background: url(../img/Profile_button.png) no-repeat;
    background-size: 100%;
    position:absolute;
    transition: .5s ease;
    top: 63%;
    left: 67%;
}

#Profile_button:hover {
    background: url(../img/Profile_button2.png) no-repeat;
    background-size: 100%;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Settings_button {
    outline:0;
    padding: 0;
    border: none;
    height: 280px;
    width: 270px;
    background: url(../img/Settings_button.png) no-repeat;
    background-size: 100%;
    position:absolute;
    transition: .5s ease;
    top: 63%;
    left: 83%;
}

#Settings_button:hover {
    background: url(../img/Settings_button2.png) no-repeat;
    background-size: 100%;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/*------------------------------------------------------------CONTINENT SELECT BUTTONS-------------------------------------------------------------------------------------*/
#nAmerica {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/north_america.png) no-repeat;
    background-size: contain;
    display: block;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 10%;
}

#nAmerica:hover {
    background: url(../img/north_america_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#sAmerica {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/south_america.png) no-repeat;
    background-size: contain;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 40%;
}

#sAmerica:hover {
    background: url(../img/south_america_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Europe {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/europe.png) no-repeat;
    background-size: contain;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 70%;
}

#Europe:hover {
    background: url(../img/europe_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#AsiaME {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/asia.png) no-repeat;
    background-size: contain;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 10%;
}

#AsiaME:hover {
    background: url(../img/asia_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Africa {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/africa.png) no-repeat;
    background-size: contain;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 40%;
}

#Africa:hover {
    background: url(../img/africa_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#Australia {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/oceania.png) no-repeat;
    background-size: contain;
    height: 280px;
    width: 270px;
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 70%;
}

#Australia:hover {
    background: url(../img/oceania_hover.png) no-repeat;
    background-size: contain;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/*-------------------------------------------------PLANNER BUTTONS----------------------------------------------*/

#addFriends {
    outline:0;
    padding: 0;
    border: none;
    height: 500px;
    width: 450px;
    position:absolute;
    transition: .5s ease;
    top: 31%;
    left: 5%;
}

#addFriends:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#findRestaurants {
    outline:0;
    padding: 0;
    border: none;
    height: 500px;
    width: 450px;
    position:absolute;
    transition: .5s ease;
    top: 31%;
    left: 37%;
}

#findRestaurants:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#vote {
    outline:0;
    padding: 0;
    border: none;
    height: 500px;
    width: 450px;
    position:absolute;
    transition: .5s ease;
    top: 31%;
    left: 70%;
}

#vote:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}



/*-------------------------------------------------SETTINGS BUTTONS---------------------------------------------*/
#discover_header{
    font-family: Calibri, sans-serif;
    color: #76c4ea;
    text-shadow: 5px 5px #245b87;
    font-size: 150px;
    position: absolute;
    top: -7%;
    left: 20%;
}

#settings_header{
    font-family: Calibri, sans-serif;
    color: #76c4ea;
    text-shadow: 5px 5px #245b87;
    font-size: 150px;
    position: absolute;
    top: -7%;
    left: 20%;
}

#name {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editname_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 24%;
    left: 20%;
}

#name:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#picture {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editpic_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 24%;
    left: 55%;
}

#picture:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#phone {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editphone_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 36%;
    left: 20%;
}

#phone:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#tastes {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/edittastes_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 36%;
    left: 55%;
}

#tastes:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#friends {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/managefriends_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 48%;
    left: 20%;
}

#friends:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#history {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/orderhistory_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 48%;
    left: 55%;
}

#history:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#email {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editemail_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 20%;
}

#email:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#location {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editlocation_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 60%;
    left: 55%;
}

#location:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#password {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/editpassword_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 72%;
    left: 20%;
}

#password:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#fav {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/managefav_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 72%;
    left: 55%;
}

#fav:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#language {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/chooselanguage_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 84%;
    left: 20%;
}

#language:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#delete {
    outline:0;
    padding: 0;
    border: none;
    background: url(../img/delete_button.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 400px;
    position:absolute;
    transition: .5s ease;
    top: 84%;
    left: 55%;
}

#delete:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#map{
    position: absolute;
    left: 40%;
    top: 25%;
}